:root body{
    background-color: rgb(0, 0, 0);
}

.header {
    background-color: rgb(0, 0, 0);
}

.bg-blacksito {
    background-color: rgb(0, 0, 0);

}

.bg-blancomenosblancoqueelblanco {

    background-color: rgb(242 242 242);
}

.bv-logosempresa img {
    width: 6vw;
    margin-left: 1vw;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.075));
}

.col p {

    font-size: 1vw;
}

.sector-informes-logos i {

    font-size: 8vw;

}
.bv-button {
    font-size: 1vw;
    width: 15vw;
    border-radius: 20px;
    border: solid 3px rgb(29 103 205)

}

.bv-comofunciona {

    width: 15vw;
}

.bg-lovendo {

    background-image: url(img/lovendo.png) ;

    background-size: 50%;
    background-attachment: fixed;

    

}

.logobbva {
    width: 130px !important;
    padding: 38px 10px 38px 10px;
}


.bv-textoadentro {
    display: none;
}

/* MEDIA QUERYS */

@media only screen and (max-width: 768px) {
    .responsive-celular {
        text-align: center !important;
        margin-bottom: 5vw !important;
    }
    .pe-5 {
        padding: 0 !important;
    }


    .bv-fotoscomofunciona {
        flex-direction: column ;

    }
    .ps-5 {
        padding: 0 !important;
    }
    .bv-comofunciona {

        width: 55vw;
    }
    .bv-textofuera {
        display: none;
    }
    .bv-textoadentro {
        display: block;
        font-size: 7vw !important;
    }
    .pt-5 {
        padding-top: 5vw !important;
    }
    .bv-button {
        font-size: 2.5vw;
        width: 35vw;
        border-radius: 20px;
        border: solid 3px rgb(29 103 205)
    
    }
    .bv-foto {
        width: 99vw;

    }
    .pe-5 {
        padding: 0 !important;
    }
    .bv-lovendo {
        justify-content: center !important;
    }
    .bv-textocel {
        font-size: 4vw !important;

    }
    .sector-informes-logos i {

        font-size: 10vw;
    
    }
    .bv-logosempresa img {
        width: 15vw;
    
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.075));
    }
    .bv-logosempresa {
        padding: 4vw !important;

    }
    .logobbva {
        width: 15vw !important;
        padding: 5.5vw 1vw 5.5vw 1vw;
    }
    .bv-logosempresa2 {
        display: none;
    }
    .nav-pills {
        justify-content: center !important;
        border-bottom: 1px solid white;
    }
    .bg-lovendo {

        background-image: url(img/lovendo.png) ;
    
        background-size: 100%;
        background-attachment: fixed;
    
    }
    .bv-responsivefoto{
        text-align: center;
        margin: 0 auto;
    }
    
    .bv-responsivecelu {

        text-align: center;
    }

    footer {
        display: none;
    }
  }