@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap");

body {
  background-color: rgb(12, 46, 156) !important;
  overflow-x: hidden;
  font-family: Rajdhani !important;

  background-image: url("img/sprinrosita.svg ");
}

.list-security li {
  list-style-type: none;
}

.efecto {
  transition: 1s;
}

.efecto:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.733);
  transform: scale(1.1);
}

.strix {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 25%,
      rgb(12, 46, 156) 100%
    ),
    url("img/wave\ \(5\).svg");
  background-size: cover;
  background-repeat: repeat-x;

  margin-bottom: 5rem;
}

.rgb-text {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #00e1ff 0%,
    #61058b 29%,
    #053a6b 67%,
    #ff0000 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

.bg-card {
  box-shadow: 0px 10px 30px rgb(82, 7, 97) !important;
  border: aliceblue solid 0.5px !important;
  background-image: url("img/Polygon2.svg");
  background-size: cover;
  width: 25rem;
  margin-top: 50px;
}



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.bautihover {
  border-radius: 30px !important;
}
.bautihover:hover {
  transition: 1s;
  transform: scale(1.1);
}

.login .card-img-top {
  width: 220px !important;
}

.referido {
  padding-top: 1rem;
  padding-bottom: 1rem !important;
}

.redondo {
  border-radius: 20px;
}
#texto {
  display: inline-block;
  vertical-align: top;
}

#texto2 {
  display: inline-block;
  vertical-align: text-top;
}

.container {
  padding-bottom: 100px;
  padding-top: 100px;
}
.texto1 {
  text-decoration: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #displayresponsive {
    display: block !important;
  }

  #displayresponsive img {
    margin: auto;
  }

  .strix {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 46, 156) 100%,
        rgb(12, 46, 156) 100%
      ),
      url("img/wave\ \(5\).svg");
    background-size: cover;
    background-repeat: repeat-x;
  }
  .bg-card {
    width: auto;
  }
  .contactarcelu {

    display: block;

  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .d-flex {
    display: none;
    
  }
  .card-width {


    width: 10.4rem;
  
  }
  .carousel-caption button{
    font-size: 10px !important;
  }
}

.informacao {
  background-image: linear-gradient(
      to top,
      rgba(170, 168, 166, 0) 50%,
      rgb(12, 46, 156) 100%
    ),
    url("img/cool-background.png");
  width: 100%;

  background-size: cover;
  background-repeat: repeat-x;
}

.feedback {
  margin-top: 5rem;
  margin-bottom: 5rem;
}



/* ===== Scrollbar CSS ===== /
  / Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d7228b #52bbe8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #52bbe8;
}

*::-webkit-scrollbar-thumb {
  background-color: #d7228b;
  border-radius: -1px;
  border: 3px solid #3a2a5a;
}
