
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Oswald:wght@300&display=swap');
body {
    font-family: 'Oswald', "Kanit";
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
    min-width: auto;
    max-height: auto;
    width: 100%;
    height: 100%;
    background-image: url("https://media.discordapp.net/attachments/971180368541671475/1009077923732541450/playboybannerblyr.png");
    background-size: 100%;
}

.nav-bar {

    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #464645;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.nav-logo {

    display: block;
    position: relative;
    top: 7px;
                    
}
.nav-lista {
    display: flex;
    margin-right: 2rem;


}

.nav-lista a {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    color: #ff0000;
    text-decoration: none;
    position: relative;
    top: 5px;
}



.nav-lista a:link {
    color: #ff0000;
    text-decoration: none;

  }
  
.nav-lista a:visited {
    color: #ff0000;
    text-decoration: none;

  }
  
.nav-lista a:hover {
    color: #ff0000;
    text-decoration: none;

  }
  
.nav-lista a:active {
    color: #ff0000;
    text-decoration: none;

  }




ul {

    list-style-type: none;

}

.bienvenida {
    position: relative;
    text-align: center;
    height: auto;
    top: 265px;

}

.bienvenida h1 {

    font-size: 60px;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 42px rgb(0, 0, 0),
      0 0 92px rgb(255, 0, 0);

}

.bienvenida h2 {

    font-size: 25px;
    color: #fff;
    text-shadow:
    0 0 7px rgb(0, 0, 0),
    0 0 42px rgb(0, 0, 0),
    0 0 92px rgb(255, 0, 0);

}