@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html {
    overflow-y: scroll;

    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    background-color: gray;
    height: 100%;
}

@media (min-width: 992px) and (max-width: 1199px){ #loginrow{ padding: 135px 0; } }
@media (min-width: 1360px){ #loginrow{ padding: 135px 0; } }

* {outline: none !important;}
textarea:focus, input:focus {outline: none !important;}
a {color: #fa7819; font-family: 'Oswald', sans-serif;; text-decoration: none;}
a:hover {color: #fa7819; font-family: 'Oswald', sans-serif;; text-decoration: none;}
a:visited {color: #fa7819; font-family: 'Oswald', sans-serif;; text-decoration: none;}
.Titulo {
    text-align: center;
    background-color: #fa7819;
    border-radius: 10px;
}



#title {
    
    color: #000000;

}

.lista {

    background-color: #000000;
    color: #fa7819;
    border-radius: 5px;
    align-content: center;
    

}

#alejo {

    scroll-behavior: smooth; 
}

#quinto {

    scroll-behavior: smooth; 
}

#albumes {

    scroll-behavior: smooth; 
}

#alejo {

    scroll-behavior: smooth; 
}

.logo {

        position: absolute;
        left:50%;
        top:1.78%;
        text-align:left;

       

}

#lista {


        height: 10vh;
        display: grid;
        
       /*  Cambia los valores para experimentar*/
        align-content: middle;


}
ul {
 list-style-type: none;
 display: grid;
 align-content: center;
 grid-template-columns: 1fr 3fr 1fr 0.5fr;
 grid-template-rows: 1fr 1fr 1fr ;
 grid-column-gap: -20px;
 
 

}

#image {

    float:left;
    height: auto;
    margin-left: 33px;
    margin-right: 20px;
    border-style: double double double;
    border-color: #fa7819;
    border-radius: 15px;
    max-width: 100%;

}

#img-div {

    display: inline-block;
    vertical-align: top;

}

#img-caption {
    font-size: 20px;
    line-height: 20px;
  }

#list {

    position: relative;
    padding-left: 30px;
    list-style: none;
    z-index: 10;
}

#tribute-info {

    color: #f1b41a;
}

.boton {
    background-color: #e1a91b; /* Green */
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 15px;
}

.video-ysy {

text-align: center;

margin-top: 50px;
margin-bottom: 50px;

}

img {

    display: block;
}

.quinto-escalon {

    background-color: #fa7819;
    text-align: center;
    border-radius: 15px;

}



.textoquinto {

    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.quintosad {

    text-align: left;
    margin-left: 30px;
    font-size: 35px;

}  

.textalbum {

    background-color: #fa7819;
    text-align: center;
    border-radius: 15px;    

}

#antezana {

    position: absolute;
    left:7%;
    top:280.5%;
    text-align:left;

}

#hechoamano {
    position: absolute;
    left:29%;
    top:280.5%;
    text-align:left;

}

#veinteveinte {


    position: absolute;
    left: 51%;
    top:280.5%;
    text-align:left;

}

#trapdeverdad {

    position: absolute;
    left:73%;
    top:280.5%;
    text-align:left;

}


.titlesponsor {
    margin-top: 220px;
    background-color: #fa7819;
    text-align: center;
    border-radius: 15px;

}



#sponsorfoto {

    text-align: center;
    border-style: double double double;
    border-color: #ffffff;
    border-radius: 15px;
    max-width: 100%;
    margin:10px auto;
	display:block;

}

footer {

    background-color: #000000;
    color: #fa7819;
    border-radius: 6px;
}

.pie {
    text-align: center;
    padding: 3px;
}

.logos {

    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}