@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html {

    background: rgb(29, 27, 27);

    font-family: "Oswald", sans-serif;
}

.nav {

    background: rgb(84, 29, 121);
    border-radius: 10px;
    padding-bottom: 10px;

}

.nav li {

    list-style: none;

}

.nav ul {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
    padding-left: 25%;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 30px 10px;
}
p{
    display: grid;
    place-items: center;
    height: 100px;
    width: 100px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    text-shadow:
    0 0 42px rgb(184, 178, 178),
    0 0 50px rgb(184, 178, 178),
    0 0 60px rgb(184, 178, 178);
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: rgb(97, 35, 109);
    font-size: 1.5rem;
    font-weight: 400;    

}
.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #333;
}
.final-sms h2{
    text-align: center;
    font-size: 100px;
    color: #fff;
}