body {
    
    background-color: #000000;
    background-position: center;
    background-size: 8%; 
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;

}

a
{
    text-decoration: none;
    color:#ffffff

}


h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px rgb(232, 84, 224), 0 0 92px rgb(232, 84, 224);
    
}


.header {
    text-align: center;
    overflow: hidden;
    background-color: rgb(82 15 121);
    padding: 10px 360px;
    border-radius: 15px;
}
  
.header a {
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
}

footer {

    display: block;
    background-color: rgb(82 15 121);
    color:#ffffff;
    border-radius: 10px;

}

@media  screen and (max-width: 1920px)  {
    footer {
      margin-top: 9%;
    }
  }

.pie {

    text-align: center;
    padding: 5px;
}

.logos {
    
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;


}

.contenedores {
    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.logo {

    border: double;
    border-width: 1px;
    box-sizing: border-box;
    width: 300px;
    height: 425px;
    border-color: rgb(206, 97, 206);
    margin-bottom: 3%;
    text-transform: uppercase;
    background-color: #7825a841;
    transition: width 2s, background-color 1s, box-shadow 1s;
    text-align: center;
    
    

    
}

.logo:hover{    transform: translate(1%, -5%) scale(1.1);

}

