.Titulo {
    text-align: center;
    background-color: #fa7819;
    border-radius: 10px;
}



#title {
    
    color: #000000;

}

.lista {

    background-color: #000000;
    color: #fa7819;

}

.logo {

        position: absolute;
        left:50%;
        top:2.78%;
        text-align:left;

       

}

ul {
 list-style-type: none;
 display: grid;
 grid-template-columns: 1fr 3fr 1fr 0.5fr;
 grid-template-rows: 1fr 1fr 1fr ;
 grid-column-gap: -20px;

}