
body {
    
    background-color: #000000;
    background-position: center;
    background-size: 85%; 
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    
    

}

a
{
    text-decoration: none;
    color:#ffffff

}


h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 0 7px rgb(128, 79, 176), 0 0 25px rgb(128, 79, 176);
    font-size: 60px;
    
}

h2 {
    color:orange;

}

h3 {
    color: red;
    font-size: 150%;
    
}

h4 {
    color: rgb(64, 0, 255);
    font-size: 150%;
    
}

.header {
    text-align: center;
    overflow: hidden;
    background-color: rgb(82 15 121);
    padding: 10px 360px;
    border-radius: 15px;
  }
  
.header a {
    
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
}

footer {

    display: block;
    background-color: rgb(82 15 121);
    color:#ffffff;
    border-radius: 10px;

}

.pie {

    text-align: center;
    padding: 5px;
}

.logos {
    
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;


}

.contenedores {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    
}

.logo {

    border: double;
    border-width: 1px;
    box-sizing: border-box;
    width: 250px;
    height: 466px;
    border-color: rgb(206, 97, 206);
    margin-bottom: 3%;
    text-transform: uppercase;
    background-color: #cb7bfa41;
    transition: width 2s, background-color 1s, box-shadow 1s;
    text-align: center;
    
}

.lista {
    background-color: #000000;
    color: #fa7819;
    align-content: center;
    margin-left: -1%;
    margin-right: -0.45%;
}

.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #7825a8;
}

.final-sms h2{
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0);
    margin: 10px auto;


}

.countdown{
    
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
    padding-left: 25%;
    text-shadow: 0 0 7px rgb(128, 79, 176), 0 0 25px rgb(128, 79, 176);
    
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.collapse:not(.show) {
    display: none;
}